/* STICKY NAVIGATION */
.sticky .nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 45px;
  background-color: rgb(89, 55, 46, 0.8);
  padding-top: 0;
  border: 1px solid rgb(255, 248, 225, 0.8);
  padding-bottom: 0;

  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .nav {
  margin-top: 10px;
}

/* modal class feature */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.correct-modal {
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  z-index: 10;
  background-color: #fff8e1;
  border-radius: 16px;


}

.error-modal {
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  z-index: 10;
  background-color: #fff8e1;
  border-radius: 16px;


}

.close-modal {
  position: absolute;
  top: 0px;
  right: 16px;
  font-size: 30px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}