/* STICKY NAVIGATION */
.sticky .nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 45px;
  background-color: rgb(89, 55, 46, 0.8);
  padding-top: 0;
  border: 1px solid rgb(255, 248, 225, 0.8);
  padding-bottom: 0;

  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .nav {
  margin-top: 10px;
}