/* STICKY NAVIGATION */
.sticky .nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 45px;
  background-color: rgb(89, 55, 46, 0.8);
  padding-top: 0;
  border: 1px solid rgb(255, 248, 225, 0.8);
  padding-bottom: 0;

  z-index: 999;

  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.5), 0 4px 6px -4px rgb(0 0 0 / 0.5);
}

.sticky .nav {
  margin-top: 10px;
}

.sticky .nav-link.active {
  background-color: #f9f7f1;
  color: #6f4436;
}

/* modal class feature */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.correct-modal {
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  z-index: 10;
  background-color: #fff8e1;
  border-radius: 16px;


}

.error-modal {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  z-index: 9999;
  background-color: #fff8e1;
  border-radius: 16px;


}

.close-modal {
  position: absolute;
  top: 0px;
  right: 16px;
  font-size: 30px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.error-close-modal {
  position: absolute;
  top: 0px;
  right: 16px;
  font-size: 30px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* mobile navigation */
.cta-nav {
  display: none;
}

.btn-mobile-nav {
  border: none;
  background-color: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 35px;
  width: 35px;
  color: #6f4436;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* CUSTOM MEDIA QUERIES */
@media (max-width: 990px) {
  /* MOBILE NAVIGATION */

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 248, 225, 0.98) !important;
    color: #6f4436 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
    transform: translateX(100%);
    border-radius: none !important;

    flex-direction: column;
    gap: 24px !important;
    font-weight: 800 !important;
    font-size: 18px !important;
    transition: all 0.5s ease-in;

    /* HIDING THE NAV */
    /*1) hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .cta-nav {
    display: block;
  }

  .lg-nav {
    display: none;
  }

}

@media (max-width: 840px) {

  .error-modal,
  .correct-modal {
    top: 93%;
  }
}